@import "tailwindcss";
@import "./styles/colors.css";

body {
  font-family: var(--font-body), sans-serif;
  font-weight: 400;
}

h1 {
  font-family: var(--font-heading), sans-serif;
  font-weight: 600;
}
